<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

  </system.web>

  <!--
    needed to make html5Mode routing work:
    https://coderwall.com/p/mycbiq 
    https://github.com/angular-ui/ui-router/wiki/Frequently-Asked-Questions#how-to-configure-your-server-to-work-with-html5mode
  -->
  <system.webServer>


	  <httpErrors errorMode="DetailedLocalOnly">
		  <remove statusCode="404" />
	  </httpErrors>


    <rewrite>
      <rules>
                <remove name="2" />
                <remove name="RedirectNewSite" />
                <remove name="1" />
                <remove name="wordpress" />
                <remove name="233" />
        <rule name="Main Rule" enabled="true" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="\.js" negate="true" />
          </conditions>
          <action type="Rewrite" url="/wijmo5/tutorialsample/" />
        </rule>
                <rule name="wordpress" enabled="false" patternSyntax="Wildcard">
                    <match url="*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <serverVariables />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="RedirectNewSite" enabled="false" stopProcessing="true">
                    <match url="^(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^demo.gcpowertools.com.cn$" />
                    </conditions>
                    <serverVariables />
                    <action type="Redirect" url="http://demo.grapecity.com.cn/{R:1}" />
                </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>



  </system.webServer>

</configuration>