<!--
    This page was generated manually.
    It should be updated when functions are added to the FlexSheet control.
    It is not included in the static TOC, instead it should be referenced
    from the FlexSheet documentation using a link such as this:
    <a href="static/FlexSheetFunctions.html">functions!</a>
-->
<h2>
    FlexSheet 函数
</h2>
<p>
    <b>FlexSheet</b> 控件支持以下函数：
</p>
<p>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>名称</th>
            <th>描述</th>
        </tr>
    </thead>
    <tbody>
        <tr><td><code>abs</code></td><td>返回一个数值的绝对值。</td></tr>
        <tr><td><code>acos</code></td><td>返回一个数值的反余弦值。</td></tr>
        <tr><td><code>and</code></td><td>如果全部的参数为 TRUE，则返回 TRUE。</td></tr>
        <tr><td><code>asin</code></td><td>返回一个数值的反正弦值。</td></tr>
        <tr><td><code>atan</code></td><td>返回一个数值的反正切值。</td></tr>
        <tr><td><code>atan2</code></td><td>返回x和y坐标的反正切值。</td></tr>
        <tr><td><code>average</code></td><td>返回其参数的平均值。</td></tr>
        <tr><td><code>ceiling</code></td><td>将数字舍入到最接近的整数，或按照具体含义的的最近倍数。</td></tr>
        <tr><td><code>char</code></td><td>返回由编码数值指定的字符。</td></tr>
        <tr><td><code>choose</code></td><td>从一组值的列表中选取一个值。</td></tr>
        <tr><td><code>code</code></td><td>返回一个文本字符串中第一个字符的编码数值。</td></tr>
        <tr><td><code>column</code></td><td>返回一个引用的列索引。</td></tr>
        <tr><td><code>columns</code></td><td>返回一个引用的全部列索引。</td></tr>
        <tr><td><code>concatenate</code></td><td>将若干文本项合并成一个文本项。</td></tr>
        <tr><td><code>cos</code></td><td>返回一个数值的余弦值。</td></tr>
        <tr><td><code>count</code></td><td>计算列表参数中有多少数值。</td></tr>
		<tr><td><code>counta</code></td><td>计算列表中有多少项目有值。</td></tr>
		<tr><td><code>countblank</code></td><td>计算在一个范围内空白单元格的数量。</td></tr>
		<tr><td><code>countif</code></td><td>计算一个范围内，符合指定条件的单元格的个数。</td></tr>
		<tr><td><code>countifs</code></td><td>计算一个范围内，符合多个指定条件的单元格的个数。</td></tr>
		<tr><td><code>date</code></td><td>返回一个特定日期的序列数值。</td></tr>
		<tr><td><code>datediff</code></td><td>计算两个日期相差的年/月/日。</td></tr>
        <tr><td><code>day</code></td><td>将一个序列数值转换为一个月的第几天。</td></tr>
		<tr><td><code>dcount</code></td><td>计算包含来自于数据库的值的单元格的个数。</td></tr>
        <tr><td><code>exp</code></td><td>按照指定指数的幂返回自然常数 e。</td></tr>
        <tr><td><code>false</code></td><td>返回逻辑值 FALSE。</td></tr>
        <tr><td><code>find</code></td><td>在另一个文本中查找指定的文本（大小写敏感）。</td></tr>
        <tr><td><code>floor</code></td><td>数字向下舍入，趋向于零。</td></tr>
		<tr><td><code>hlookup</code></td><td>在数组的顶行中查找，返回指定单元格的值。</td></tr>
		<tr><td><code>hour</code></td><td>将一个序列数值转换为小时。</td></tr>
        <tr><td><code>if</code></td><td>指定运行一段逻辑测试。</td></tr>
		<tr><td><code>index</code></td><td>使用一个索引值，从一个引用中选择一个值。</td></tr>
        <tr><td><code>left</code></td><td>返回一段文本值最左侧的若干个字符。</td></tr>
        <tr><td><code>len</code></td><td>返回一段文本字符串中字符的个数。</td></tr>
        <tr><td><code>ln</code></td><td>返回一个数值的自然对数。</td></tr>
        <tr><td><code>lower</code></td><td>将文本转换为小写形式。</td></tr>
        <tr><td><code>max</code></td><td>返回参数列表中存在的最大值。</td></tr>
        <tr><td><code>mid</code></td><td>从一段文本中返回从指定位置开始的指定个数的字符。</td></tr>
        <tr><td><code>min</code></td><td>返回参数列表中存在的最小值。</td></tr>
        <tr><td><code>mod</code></td><td>返回一个除法运算的余数。</td></tr>
        <tr><td><code>month</code></td><td>将一个序列数值转换为月份值。</td></tr>
        <tr><td><code>not</code></td><td>将其参数逻辑取反。</td></tr>
        <tr><td><code>now</code></td><td>返回当前日期和时间的序列数值。</td></tr>
        <tr><td><code>or</code></td><td>如果有任何的参数值为 TRUE，则返回 TRUE。</td></tr>
        <tr><td><code>pi</code></td><td>返回圆周率的值。</td></tr>
        <tr><td><code>power</code></td><td>返回一个数值的指定幂次的乘方。</td></tr>
		<tr><td><code>product</code></td><td>将参数相乘。</td></tr>
        <tr><td><code>proper</code></td><td>将一个文本中每一个单词的首字母大写。</td></tr>
        <tr><td><code>rand</code></td><td>返回一个介于 0 和 1 之间的随机数值。</td></tr>
		<tr><td><code>rank</code></td><td>返回一个数值列表中数值的秩。</td></tr>
		<tr><td><code>rate</code></td><td>返回年金的期间利率。</td></tr>
        <tr><td><code>replace</code></td><td>在文本内部替换字符。</td></tr>
        <tr><td><code>rept</code></td><td>将指定文本按照给定的次数重复。</td></tr>
        <tr><td><code>right</code></td><td>从一段文本中返回最右侧的指定个数的字符。</td></tr>
        <tr><td><code>round</code></td><td>将数值四舍五入到指定的小数位数。</td></tr>
        <tr><td><code>rounddown</code></td><td>将数值向下舍入，趋向于零。</td></tr>
        <tr><td><code>roundup</code></td><td>将数值向上舍入，远离零的方向。</td></tr>
        <tr><td><code>row</code></td><td>返回一个引用的行索引值。</td></tr>
        <tr><td><code>rows</code></td><td>返回一个引用中全部的行索引值。</td></tr>
        <tr><td><code>search</code></td><td>在另一个文本中搜索指定的文本（非大小写敏感）。</td></tr>
        <tr><td><code>sin</code></td><td>返回指定角度的正弦值。</td></tr>
        <tr><td><code>sqrt</code></td><td>返回数值的正数平方根。</td></tr>
        <tr><td><code>stdev</code></td><td>基于样本估计标准偏差。</td></tr>
        <tr><td><code>stdevp</code></td><td>计算基于总体的标准偏差。</td></tr>
        <tr><td><code>substitute</code></td><td>在一个文本字符串中，将一段旧文本替换为新文本。</td></tr>
		<tr><td><code>subtotal</code></td><td>返回列表或数据库一个小计。</td></tr>
        <tr><td><code>sum</code></td><td>将其参数求和。</td></tr>
		<tr><td><code>sumif</code></td><td>按照指定的条件选择合适的单元格进行求和操作。</td></tr>
		<tr><td><code>sumifs</code></td><td>按照指定的多个条件选择合适的单元格进行求和操作。</td></tr>
        <tr><td><code>tan</code></td><td>返回数值的正切值。</td></tr>
        <tr><td><code>text</code></td><td>格式化一个数值，并将其转换为文本。</td></tr>
		<tr><td><code>time</code></td><td>返回一个特定时间的序列数值。</td></tr>
		<tr><td><code>today</code></td><td>返回表示今日日期的序列数值。</td></tr>
        <tr><td><code>trim</code></td><td>从文本中移除空白字符。</td></tr>
        <tr><td><code>true</code></td><td>返回逻辑值 TRUE。</td></tr>
        <tr><td><code>trunc</code></td><td>将一个数值截取为整数。</td></tr>
        <tr><td><code>upper</code></td><td>将文本转换为其大写字母形式。</td></tr>
        <tr><td><code>value</code></td><td>将一个文本参数转换为数值。</td></tr>
        <tr><td><code>var</code></td><td>基于样本估计方差。</td></tr>
        <tr><td><code>varp</code></td><td>计算基于整个样本总体的方差。</td></tr>
        <tr><td><code>year</code></td><td>将一个序列数值转换为年份。</td></tr>
    </tbody>
</table>

