<h2>
    欢迎来到 Wijmo 5
</h2>
<p>
    Wijmo 5 代表了新一代的 JavaScript 控件。
    它充分利用了最新的 HTML5 的技术，不对支持任何
    传统浏览器做任何妥协。相对于之前的版本，这样做的结果是构建出了更快，
    更轻量，更易于使用的一个控件集。
</p>
<p>
    除了 ECMAScript 5 之外，Wijmo 5 没有任何依赖。
    您可以脱离 jQuery，jQueryUI，或者其他任何的 JS 框架使用 Wijmo 5。
</p>
<p>
    Wijmo 5 要求使用现代浏览器（IE9 或更高），以利用以下技术：
</p>
<ul>
    <li>
        <b>ECMAScript 5：</b> ECMAScript 5 标准添加了属性的 getter 和 sestter。
        这看起来只是一点点小的更新，但是它使得整个世界变得如此不同。比方说，为了使得某个属性值增加 1，
        不必再像这样书写代码<code>control.value(control.value() + 1)</code>，现在您可以这样
        <code>control.value++</code>。
        ECMAScript 5 标准添加了其他许多显著的功能增强，比如说<a href="http://javascriptissexy.com/javascript-apply-call-and-bind-methods-are-essential-for-javascript-professionals/" target="_blank">
            bind
        </a> 方法允许在 callback 中指定 ‘this’ 的值。
        同样也有新的
        <a href="https://www.inkling.com/read/javascript-definitive-guide-david-flanagan-6th/chapter-7/ecmascript-5-array-methods" target="_blank">
            数组方法
        </a>可以在编写代码时节约大量的时间。
    </li>
    <li>
        <b>SVG：</b> 现代浏览器实现了对 <a href="https://developer.mozilla.org/en/docs/Web/SVG" target="_blank">SVG</a> 的支持，
        这使得创建令人惊异的数据可视化表现更加地容易。
        Wijmo 直接充分利用了 SVG，相对于必须要支持传统浏览器的设计，没有任何的额外开销。
    </li>
    <li>
        <b>TypeScript：</b> 我们通过 <a href="http://www.typescriptlang.org/" target="_blank">TypeScript</a> 编写 Wijmo，
        充分发挥了类型检查和 OOP 概念，比如说模块、类、以及继承的好处。输出产物仍旧是纯 JavaScript，因此您可以在日常开发工作中
        采用二者任意一种。
    </li>
    <li>
        <b>移动设备：</b> Wijmo 5 从一开始就设计支持移动端浏览器。
        响应式布局加上触摸屏支持是在设计每一个 Wijmo 5 控件时主要考虑的点。
    </li>
    <li>
        <b>AngularJS：</b>
        <a href="http://angularjs.org/" target="_blank">AngularJS</a> 是当下最流行且强大的 JavaScript 应用程序开发框架之一。
        我们坚信它将继续的保持流行并且终将引领下一代 Web 互联网开发的潮流。
        基于这个原因，我们为我们全部的控件发布并维护着 Angular JS 指令，同时在我们所提供的大部分示例中使用。
        更多信息，请参见 <a href="static/angularDirectives.html">在 AngularJS 应用程序中使用 Wijmo 5</a> 主题。
        您同样也可以将 Wijmo 和其他的应用程序框架配合使用。除了 AngularJS 之外，我们同时还发布了一个 
        <a href="http://knockoutjs.com/">KnockoutJS</a> 模块，并且将根据用户的需求反馈，添加针对其他应用程序
        框架的官方支持。
    </li>
    <li>
        <b>Bootstrap：</b>
        <a href="http://getbootstrap.com/css/" target="_blank">Bootstrap</a> 是最易用，最强大并且最流行的 CSS 框架之一。
        我们在示例和在线文档中使用了 Bootstrap。如果您也用到了 Bootstrap，请尽管放心，我们的 Wijmo 5 将无缝地和您现有的逻辑结合在一起，
        您不需要任何额外的工作。
    </li>
</ul>
<p>
    我们确实也意识到有一些场景需要支持传统的浏览器（IE8 以及更早版本）。
    正是因为这样的原因，只要有客户还需要，我们还将继续维护传统的 Wijmo 版本。
    如果您需要支持 IE8 或者更早的浏览器版本，请继续使用传统的 Wijmo 版本。
    我们将一如既往地对这些版本进行维护。
    如果您已经做好准备迁移到 HTML5 以及现代浏览器，Wijmo 5 随时待命！
</p>
